.avatarClass {
    width: 60%;
}

.buttons>p{
    color:red;
    padding-top: 4%;
    margin-bottom: 0;
}

.buttonsAsk{
    margin: 4% 0;
    padding-top: 2%;
}

.colContainer{
    margin-bottom: 4%;
}

.driverContainer{
    margin-top: 10%
}

.acceptUser{
    background-color: #e7e7e7;
    border-radius: 1em;
    padding-bottom: 5%;
    margin: 1%
}

.acceptDriver{
    background-color: #e7e7e7;
    border-radius: 1em;
    padding-top: 4%;
    padding-bottom: 0.1%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 1%
}

.driverRate{
    margin-bottom: 0px;
}